.site-header {
    background-color: #0e0f0f;
    color: hsl(173, 13%, 74%);
    height: 115vh;
    font-family: monospace;
    font-size: 14px;
    display: flex;
    flex-direction: column; /*putting all the contents in column*/
    justify-content: center;
    align-items: center;
}
.site-footer {
    background-color:#0e0f0f;
    color: #b3c4c2;
    /* height: 20vh; */
    font-family: monospace;
    font-size: 14px;
    display: flex;
    flex-direction: column; /*putting all the contents in column*/
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}
.profile1 {
    margin: 10px;
    /* margin-top: 10px; */
}
.profile-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #011311 2px 5px 5px;
}

.course-link {
    color: lightgrey;
}

.contacts  h1 {
    font-weight: bold;
    color:white;
    text-align: center;
}

/* email */
.email {
    color: white;
    text-decoration: none;
}
.email:hover {
    opacity: 0.7;
}

/* social-media links */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    margin: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.fa:hover {
opacity: 0.7;
}

/* linkedin */
.fa-linkedin {
    background:#007bb5;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  /* Instagram */
  .fa-instagram {
    background: #e87dd7;
    color: white;
  }

body {
    margin: 0;
    
}